[2019-07-14 15:14] flaport opened #1 "Frequency domain detector"
The library could use a frequency domain detector. This can be implemented with a simple Fourier transform.

[2019-07-14 15:17] flaport opened #2 "Mode source"
The library could use a mode source for some integrated photonics simulations. This probably requires a [simple] 2D mode solver dependency/addition to the library.

[2019-08-21 21:43] BrandonHanx opened #3 "Objects of arbitrary shape"
Thanks for your code! And I wonder how to define a structure like circle? More generally, how can I define an arbitrary shape? Thanks.

[2019-08-22 08:19] flaport commented on #3
You're scratching the surface of something that has not _explicitly_ been implemented _(yet)_.

On top of that, while preparing an example to help you further I found a bug (typo) which would have prevented you to implement it in the first place. The bug is now removed, but bear in mind that the following example will only work with the development version of this library (`pip install git+https:/

[2019-08-22 16:55] BrandonHanx commented on #3
Thanks for your answer. Now I understand it.

[2019-10-02 19:31] tlambert03 opened #4 "removing objects doesn't reset grid permittivity"
Very cool project!  I look forward to seeing where it goes.

Small observation here, after playing around a little bit:
When you add an object, and then later remove it, you end up with a section of the grid with altered permittivity, but without an object present in the visualization.  Lacking a `grid.remove_object()` method, I naively just popped the object from `grid.objects`...  and used `grid

[2019-10-02 21:24] flaport commented on #4
Thanks for bringing that up!

It's indeed something I haven't implemented yet [read: haven't really though of so far;) ]. I'll see what I can do in the coming days!

cheers!

[2019-10-05 02:20] tlambert03 commented on #4
by the way... i'm having a ton of fun with this code.  in case it gives you more motivation to keep working on it, I wanted to share a small simulation i did with it.  thanks again
https://www.youtube.com/watch?v=amlgKhnpGO4

[2019-10-05 06:08] flaport commented on #4
Hey that's really cool! Thanks 😊

Right now I'm near the end of my PhD, so development of this library is kinda on hold until I've submitted, but after that I'll definitely resume working on it!

Also... the examples folder in this library is quite empty.. If you're willing to share your code, you're definitely welcome to make a pull request and upload your simulation 😉

[2019-10-08 12:52] shudras opened #5 "example.py not compiling"
_AttributeError: module 'fdtd' has no attribute 'Detectors'_

changing _fdtd.Detectors_ to _fdtd.LineDetector_ seems to solve the problem but raises another problem:

_ValueError: at least one projection plane (x, y or z) should be supplied to visualize the grid!_

[2019-10-09 14:24] flaport commented on #5
Hey, thanks for bringing that up! I fixed these bugs and the example script should run again now.

[2019-10-09 14:24] #5 closed

[2019-10-10 10:05] flaport commented on #4
Objects can now be removed from the grid. I made it so that the naive implementation you tried just works, for example
[code]
all work.

To implement this, I had to change the behavior of each object. Internally, when adding an object to the grid, it will only encode the difference between its inverse permittivity and the global inverse permittivity in the grid (instead of encoding the full invers

[2019-10-10 12:18] tlambert03 commented on #4
thanks!

[2019-10-14 15:16] tlambert03 opened #6 "new grid permittivity strategy & issues with PML and Objects"
I fear I may have caused more problems in issue #4.  It appears that commit 3e22a26 has introduced some new bugs relating to PMLs and certain objects.  (either that or I'm using them incorrectly, and this commit exposed my errors)

To explain the issue, let me describe my simulation.  I have a simply "TIR" example grid where the top half has a higher refractive index (1.55) than the bottom (1.33),

[2019-10-14 17:24] flaport commented on #4
opened again as previous solution introduced bugs in the PML (#6)

[2019-10-14 17:27] flaport opened #7 "Tests"
The fdtd library needs tests to prevent bugs.

[2019-10-14 17:35] flaport commented on #6
The previous commit was rolled back. Thanks for noticing! I'll see if I can find a better solution in the near future. Also, the library clearly needs some tests (#7) to prevent these unexpected bugs in the future.

I haven't figured out what exactly caused this numerical instability, so I'll leave this issue open until either I find the problem or find a better way of implementing the removal of

[2019-10-17 10:00] flaport commented on #6
My preferred test runner is pytest. I created some sample test cases, feel free to add some more. Read #7 for some guidelines and discussion about tests.
I'm closing this issue for now since I most likely won't go back to the solution (#6) initially proposed in #4, which solves this issue. The object removal discussion can be had there.

[2019-10-17 10:00] #6 closed

[2020-04-24 09:59] Kiranalu commented on #4
Hello Sir, how do you manage to see the filed at every time , like how did you made the movie?

[2020-04-24 10:31] Kiranalu commented on #3
Man,do you try to make circle look like circle?

[2020-04-24 15:22] Kiranalu opened #8 "Discontinuity in the curls of E and H??"
Hi, firstly thanks for the amazing code.
How do I introduce the discontinuity in the curls of E and H, and in the update equations of E and H?

I tried to introduce the discontinuity in the curl_E and curl_H and update_E and update_H uisng the decorator with out changing the class . it did not work for me. The discontinuity equations I have introduced are (eqn 5 , 6 from supplimentary and  eqn 5,

[2020-04-25 09:53] flaport commented on #8
Hi Kiranalu,

Thanks for liking the code 🙂.

I had a quick scan through the paper you mentioned. It looks indeed very interesting. However, I have to admit that it's a bit out of my comfort zone and unfortunately I do not have the time to delve much deeper into this subject.

However, If you want to implement it, please fee free to do so. Here are a few directions to get you started:

1. It's best

[2020-04-25 16:44] Kiranalu commented on #8
thanks for the suggestions.

[2020-04-25 20:40] Kiranalu commented on #8
Hi Flaport,
thanks for the suggestion. Since my discontinuity is mode dependent (Ez or Hz), so I need to know, How do I chose perticular mode? and How do I chose  source polarization and propagation direction ? please kindly let me know with some examples How can I can change them.
I am sure if you tell me this, I can impliment, as you said I have converted my equations according to your equations

[2020-05-30 00:24] joamatab opened #9 "extract Sparameters"
how would you extract Sparameters from a GDS file?

[2020-05-30 12:09] flaport commented on #9
That's probably one of the next features I'll implement. When I find the time 😉

[2020-05-30 15:47] 0xDBFB7 commented on #4
@Kiranalu I don't know how the OP did it, but something like this might work (untested):

[code]
and then use something like ffmpeg to make the .png images into a movie.

Matplotlib also has an animation module that might be easier, but I haven't tried it.

Good luck!

[2020-06-05 01:09] 0xDBFB7 commented on #4
@Kiranalu There's an even easier method; use the pyEVTK library and Paraview!

[code]
Paraview makes very pretty videos.

![woot](https://user-images.githubusercontent.com/14041028/83825478-73c10400-a6a7-11ea-81c2-b369c89e3e24.png)

[2021-01-04 01:12] sofroniewn commented on #3
Hello! First off I'd like to say that I'm loving this package! I've only discovered it today, but I'm already having loads of fun with it and I think it's going to work really well for my needs, so thanks!

I have a question about this topic though. If I run the example from here https://github.com/flaport/fdtd/issues/3#issuecomment-523802210

[code]

and then plot the `inverse_permittivity` I jus

[2021-01-04 03:03] sofroniewn commented on #3
Just a quick followup - I'm able to achieve what I want with something like

[code]

<img src="https://user-images.githubusercontent.com/6531703/103497318-01a7cd80-4df6-11eb-95f7-8894db6b4a8a.png" width="500">

But I'm curious if that's the recommended way to achieve what I want, if that will always work - for example what happens if there are multiple objects in the same location in the grid? I'm

[2021-01-05 10:09] flaport commented on #3
Hi @sofroniewn ,

Thanks for liking the library 🙂

Indeed, placing an object in the grid sets the `inverse_permittivity` to zero within the location of the object. In those locations, the `inverse_permittivity` of the Object is used (I'm not a 100% happy with this solution, see for example #4 and #6).

The reason I'm doing this however is to indeed allow for different update equations within the o

[2021-01-23 20:40] tiagovla opened #11 "Updating fields"
[code]
Here you update **E** for the whole grid. Then you update **E** inside the objects, changing **E** in-place, locally.
[code]
Aren't you doing it twice?
[code]

[2021-01-25 07:37] flaport commented on #11
No, when adding an object to the grid, the inverse_permittivity at the location of the object is set to zero:

https://github.com/flaport/fdtd/blob/73afcb8403aa64193a042680aa0e5dd13d62dae1/fdtd/objects.py#L86

This means that effectively, only the second update equation is used at the location of the object.

[2021-01-25 07:37] #11 closed

[2021-03-22 16:16] Substancia opened #12 "Updated version of FDTD module"
Hi,
I am a final year Masters student in Theoretical Physics at IIT Madras. When I started my final year project in August 2020, this was the best suiting cross-platform FDTD module I could find for my simulation project. In past months, I have added many features to this module to fit my purposes, like real-time simulation video, saving simulation video and detector history and grid details, Hann

[2021-03-22 19:51] flaport commented on #12
Hi mohammad, that's awesome! Any future pull requests are always welcome 🙂

[2021-03-26 11:09] Substancia commented on #12
That's awesome then! Once I wrap up my final year project, I will make a pull request and add only the stable features, which you can cross-check and let me know your verdicts!

[2021-03-26 13:33] flaport commented on #12
Sounds good! Feel free to make PRs for unstable features too. I might merge them into a separate branch then.

[2021-04-15 02:21] 0xDBFB7 commented on #9
for reference, I think I have a (very) rough draft of this - source impedance measurement, anyhow. remind me to PR when things settle down

[2021-04-15 17:17] flaport commented on #9
Hey Daniel,

SAX for now does not tackle this, in stead it does circuit simulations for components for which you already *have* the S-parameters. A way to *extract* the S-parameters with this FDTD simulator is still not implemented.

So any contribution in this regard is more than welcome! 🙂

Thanks!

[2021-04-15 17:22] flaport opened #13 "deprecate pytorch backend in favor of JAX"
JAX might potentially offer considerable speedups and offers better overlap with the numpy api.

[2021-04-27 12:04] flaport commented on #9
Hey @0xDBFB7 , just pinging you to make sure you read the previous message. I would love to have an easy way to get the S-parameters, so If you have something that works please feel free to open a PR 🙂

[2021-04-27 12:05] flaport commented on #12
Hey @Substancia , do you have any updates on this?

[2021-04-27 15:41] Substancia commented on #12
Hi @flaport , I am currently wrapping up my final year project and writing the report. I expect to submit the report on May 28. I was planning to spend the following week to see through the updates. I will put up a PR sometime this week so you can see what I have done so far.

[2021-04-27 17:26] flaport commented on #12
Thanks, @Substancia :)

[2021-04-27 18:39] 0xDBFB7 commented on #9
Thanks for the reminder @flaport ,  writing up some notes now - it's really an extremely simple algorithm, though not sure how best to integrate it with the SAX / 'fdtd' apis; what I have right now is extremely ugly

[2021-04-27 18:59] flaport commented on #9
Hey @0xDBFB7 , no worries! no schedule was hurt by this 😉. As you can see, this has been an open issue for a while (mostly due to lack of time from myself), so I'm pretty excited someone wants to tackle it! So certainly don't feel pressured!

I'd say, let's not focus too much on the SAX api yet... SAX is still pretty much in a proof-of-concept phase and that API will certainly still change.

I wou

[2021-04-27 20:58] 0xDBFB7 opened #14 "Paraview exporting with pyEVTK"
When testing 3D geometries, it seemed pretty helpful to dump .vtk files with object and field grids. The pyEVTK lib makes this pretty clean, might perhaps be worth an optional dependency?

https://github.com/0xDBFB7/fdtd_PCB_extensions/blob/master/fdtd_PCB_extensions/fdtd_PCB_extensions/visualize.py

[2021-04-28 09:49] flaport commented on #14
I think this is something that fits pretty well in fdtd.visualize. It's indeed something that generally speaking can be useful to handle in user code too, but I think having a default way of visualizing in 3D is definitely something we need.

Feel free to open a PR for this, maybe just move the vtk related imports into the `dump_to_vtk` function, to ensure this remains an optional dependency.

[2021-05-02 09:23] flaport commented on #12
This was closed by PR #15. Some slight modifications to the additions were made in later commits. Additionally, the example python files were converted into Jupyter notebooks to be able to render them for the documentation [here](https://fdtd.readthedocs.io/en/latest/examples/05-lenses-and-analysing-lensing-actions.html) and [here](https://fdtd.readthedocs.io/en/latest/examples/06-GRIN-medium-and-

[2021-05-02 09:23] #12 closed

[2021-05-06 03:58] sofroniewn commented on #14
I'd be happy to contribute an example showing how to integrate these simulations with [napari](https://github.com/napari/napari) a python multidimensional image viewer (note, I'm one of the maintainers of that package so am heavily biased!). We do 2D and 3D rendering, including timeseries, so should be able to cover the needs here. What's nice about the napari approach is I can be working on my si

[2021-05-06 04:06] sofroniewn opened #17 "Acoustic simulations?"
Hello, I know this package is for 3D electromagnetic simulations, but I was wondering what it would take for it to also be used for acoustic simulations (including in situations where the speed of sound was not constant). Would this be something of interest to you, or is it too far outside the scope of this package? My [elementary reading](https://eecs.wsu.edu/~schneidj/ufdtd/chap12.pdf) suggests

[2021-05-06 07:31] flaport commented on #14
Hey @sofroniewn , This is pretty cool! I would definitely like to see a PR for such an example 🙂

[2021-05-06 07:44] flaport commented on #17
Hey @sofroniewn, although it seems that should be a 1 to 1 mapping (at least in 2D), I don't consider myself to be an acoustics expert at all. Therefore, I cannot confidently implement and maintain this. I think the best way to handle acoustics with this framework would be to indeed find relations like (12.35)-(12.46) for 3D and use those as a 'translation layer' for this package, however I'm afra

[2021-05-06 07:44] #17 closed

[2021-05-06 17:50] sofroniewn commented on #17
Ok thanks for the consideration, that all makes sense. I might try the acoustic simulation in a fork of this repo when I find the time!!

[2021-05-06 17:51] sofroniewn commented on #14
Great, I'll try and put this together into an example script when I get a chance!

[2021-05-06 18:56] flaport commented on #17
Sounds good! Let me know if you get it working 🙂

[2021-06-19 22:27] iakovts opened #19 "General Tasks"
Hello again @flaport,

I 've been reading through the code, and I have suggestions (that I could also possibly implement):

1. Automate tests through github Actions. (I ve actually already implemented a  PoC on my [fork](https://github.com/iakovts/fdtd) - will open a PR). In the future Actions can also be used for publishing docs and the package itself on pypi.

2. Some (minor?) code refactoring,

[2021-06-20 17:41] flaport commented on #19
Hi @iakovts,

Those are some great ideas!

1. I've always wanted to add some github actions to one of my repos. So far I haven't really taken the time to get to know it very well (I'm personally more comfortable with gitlab CI) so having someone do the first steps would be great! Thanks 😀

2. All code cleanup is welcome! Just keep in mind that I also want to keep the backend code accessible to sci

[2021-06-22 14:53] iakovts commented on #19
Hey @flaport,

1. I'd be happy to keep working on Actions (including what you mentioned on #20), even though tbh it was my first time working with Actions too haha (only had gitlab-ci experience). As for the building a wheel part (+ publishing it on pypi I assume), I might need some help there since I've only done that 1-2 times before in a different environment. (P.S. I've used [act](https://gith

[2021-06-24 10:08] flaport commented on #19
Hey @iakovts,

1. I'm currently pretty short on time, so I'll merge the PR for now and we can figure out how to auto build and publish wheels on a later time. This act tool seems cool, I'll definitely check it out!
2. I know, I should add tests, but same as above... I'm lacking the time to work on them. I'll see what I can do in the next few weeks though...

[2021-06-30 13:55] sassan72 opened #21 "about electric and magnetic field in each time step."
I want to check the matrices for electric and magnetic field at each time update step. How can i do it with your fdtd code? is it possible to show me in an example how? thanks in advance.

[2021-06-30 20:57] flaport commented on #21
try something like this:

[code]

[2021-07-05 11:50] #21 closed

[2021-07-05 13:07] iakovts commented on #19
Hey @flaport,

So I've started working on the refactoring of boundaries, and as an example I've made some changes to [periodic boundaries](https://github.com/iakovts/fdtd/commit/a378d49e1b0b17a8c7635d68d2749379a4e31426). These changes are purely "cosmetic", just made to avoid some repetitions of similar classes etc. I would also like to avoid setting `self.__class__ = ...`  there as I believe it's

[2021-07-06 09:29] flaport commented on #19
thanks @iakovts, this looks good!

I think there should be a way around setting `self.__class__`, which I must admit I also don't like very much. I can have a look after merging this.

For numpy arrays `slice(None)` at the end of the tuple is equivalent with not adding it at all (e.g. think of `x[:, :]` vs `x[:]` for a 2D array). However, it's probably better to be more explicit here as well and a

[2021-07-09 20:28] 0xDBFB7 opened #22 "Overlapping Source inside Object"
I was trying to build a (dubious) test-case for current density by putting a source in a conductive medium, like so:

[code]
The source E-field seems to always be forced to zero in this case. The source works when the objects are added in the other order.

I might be doing something wrong, just posting this issue to ask what the expected behavior should be when troubleshooting - is the overlapping

[2021-07-09 22:35] flaport commented on #22
Hey Daniel,

Please give me some time to answer before closing the issue 😉

Anyway... I assume this is related to the internals of how this library works:

1. If an object is added to the grid, the refractive index 'behind' the object is put to 0. This causes some problems and ideally a better solution should be found (see #4 and #6  ).
2. Adding objects inside the PML is not recommended. The PML

[2021-07-12 13:34] iakovts commented on #19
Hey @flaport, sorry for the late response.
Oops I didn't realize that for the numpy slices (even though it's something I'm actually using a lot - just didn't put 2 and 2 together till now haha).
Ok, I ll keep working on the boundaries and open a PR when ready!

[2021-07-16 04:40] CharlesDove opened #24 "Flat Plane Source"
Hi folks, thanks for the awesome fdtd package!
I'm trying to get a flat PlaneSource, eg a flat plane on z=N, but I haven't found a way to do it. Using something like `grid[:,:,5]=fdtd.AnisotropicObject(permittivity=permittivity)` gives a diagonal plane. Is there a way to get a flat plane? Thanks!

[2021-07-16 10:08] flaport commented on #24
Hey @CharlesDove , this is indeed a bug, thanks for noticing!

What I suspect is going on is that the `PlaneSource` is actually correctly created, but the `grid.visualize` function does not know how to visualize it. I'll try adding this to the visualization function`.

[2021-07-20 00:43] CharlesDove opened #25 "Method for calculation of average power"
Hi @flaport! For a project I'm working on, I need to calculate the average power (intensity) of light. Ex. simulate imaging it on a detector. Is there a method that you'd recommend for doing that? I've tried using a detector to average the intensity over the last X simulation timesteps, but that so far doesn't seem to give correct results. Thanks!

[2021-07-20 13:35] flaport commented on #25
Hmmm this has been a while for me since I did these kind of calculations... Anyway... the average power going through a detector should be related to the [poynting vector](https://en.wikipedia.org/wiki/Poynting_vector) `S=E×H` (or in the simulation units used here: `S=cE×H`). The average power flowing through a detector with surface area A should hence be given by something like this:

[code]
with

[2021-07-20 21:28] CharlesDove commented on #24
That makes sense, thanks!

[2021-07-20 21:37] CharlesDove opened #26 "Defining a 3D Plane Source"
I'm trying to define a plane source such that it outputs a plane wave, but I'm getting some odd-looking outputs. The following code seems to produce some pretty heavy fringes of some sort. Any thoughts? Ideally it would produce a smooth plane wave.
Thanks!
![plane_source](https://user-images.githubusercontent.com/5931744/126398517-a462f96f-a67f-4519-8a01-4b7502e9d1bf.png)

[code]

[2021-07-22 09:07] flaport commented on #26
Hmm, I'm not sure what the intended behavior is supposed to be, but could it be that the light of the 'neighboring' cells (remember: you're using periodic boundaries) is starting to interfere with the light in the current cell? Look for example at the light at timestep 90 (`grid.run(90)`):![image](https://user-images.githubusercontent.com/15832886/126614835-4e72b94c-4679-49c0-892d-617d8e5ec832.png

[2021-07-22 20:47] CharlesDove commented on #26
Hi @flaport, thanks for the thorough response and help! Hmm, using PML makes sense, but that plane wave indeed doesn't look quite right. For comparison, here's a plane wave from MEEP https://meep.readthedocs.io/en/latest/
![pw_side](https://user-images.githubusercontent.com/5931744/126707156-c60b6e90-8476-4035-baf6-8d37506bcd49.png)
![pw_front](https://user-images.githubusercontent.com/5931744/126

[2021-07-22 21:46] CharlesDove commented on #26
Actually the cause of this looks to be that the PlaneSource (also LineSource) is actually Gaussian and not uniform! Defined starting around line 402 in sources.py. Making that profile variable an array of ones doesn't immediately appear to make a functional plane wave for me, however. Also a uniform flat plane wave should (I think) be usable with periodic boundary conditions on its sides. Any thou

[2021-07-29 05:55] CharlesDove commented on #26
Figured it out. A plane source at z=N outputs the wrong polarization, which doesn't propagate. Changing it to something transverse solves the problem. Also there should probably be GaussianPlaneSource and UniformPlaneSource methods to reduce ambiguity. For line sources as well. I'll see if I can knock together a PR. :)

[2021-07-29 07:24] flaport commented on #26
Hey Charles,

I'm happy you figured it out! a PR for this would be amazing, thanks 🙂

[2021-08-08 05:04] chenyang9526 opened #28 "Unit of conductivity"
Hi @flaport, thanks for the excellent toolbox. Just a quick question, may I know the unit of conductivity defined in the absorbing object?
In your example (https://fdtd.readthedocs.io/en/latest/examples/02-absorbing-object.html#), the conductivity was set to 1e-6, but the unit was not provided.
I'm interested in a medium that has a conductivity of 0.6 ohm-1 m-1. However, if I set the conductivity

[2021-08-10 12:29] flaport commented on #28
Hi @chenyang9526 , the simulation unit for the conductivity in the `AbsorbingObject` is `s-1`. To obtain the simulation units from the physical units, divide by `εε0`:

[code]

Read more about this [here](https://github.com/flaport/fdtd#lossy-medium).

[2021-08-10 12:29] #28 closed

[2021-08-19 02:24] GenB31415 opened #29 "Errors in Examples. Lenses and analysing lensing actions"

[2021-08-19 19:55] #29 closed

[2021-08-20 00:20] GenB31415 opened #30 "moving source"
Dear author, many thanks for your interesting package! In my problem I have to study the field of a source moving with the uniform velocity along the grid. Is there any way to indicate the current position of the point source (depending on current time) while the field update? Thank you in advance.

[2021-08-23 14:21] flaport commented on #30
Hey @GenB31415 ,

Moving sources is not really supported by this package. However you can probably hack it as follows:

[code]

[2021-08-25 00:42] GenB31415 commented on #30
Dear author, many thanks for the idea.I did that but I the error is generated: The grid already has an attribute with name pointsource
My code is bellow (slightly modified code 01-basic-example.py ). Please let me know how to overcome this issue.
Thank you.
import matplotlib.pyplot as plt
import fdtdimport fdtd.backend as bdfdtd.set_backend("numpy")# ConstantsWAVELENGTH = 1550e-9SPEED_LIGHT: float

[2021-08-29 02:48] GenB31415 commented on #30
Hey @flaport, thanks, now it works.
The code (run or uncomment corresponding line)

import matplotlib.pyplot as plt
import fdtd
import fdtd.backend as bd
fdtd.set_backend("numpy")

OneMicron=1e-6
WAVELENGTH = OneMicron
LengthScale = OneMicron
SPEED_LIGHT: float = 299_792_458.0  # [m/s] speed of light
indRefr=1.15
grid = fdtd.Grid(
    (25*LengthScale, 25*LengthScale, 1),
    grid_spacing=0.1 * Len

[2021-08-29 18:54] flaport commented on #30
great to hear it's working now :)

[2021-08-29 18:54] #30 closed

[2021-08-29 19:17] lupettolab opened #31 "Frequency dependent permittivity"
Hi, thank you very much for this awesome repository!

If I understand the code correctly at the moment it's not possible to use Objects with a frequency dependent permittivity (like gold nanoparticles for instance), is there any plan to support it?

[2021-08-30 10:59] flaport commented on #31
Hi @lupettolab ,

Adding support for frequency-dependent permittivity is a bit outside my comfort zone / area of expertise. However, I would happily accept a PR for an `Object` that can do this ;-)

[2021-08-30 15:44] GenB31415 commented on #31
Hi @flaport,
I ques that to extend fdtd for case of dispersive materials is not too advanced task for your package. Please look at https://eecs.wsu.edu/~schneidj/ufdtd/chap10.pdf and then see details in Eq.(10.47) and Eq.(10.62). One has only to add a new variable the polarization current J and elaborate the coefficients for the Debye and the Drude materials respectively. The structure of the upda

[2021-08-30 16:11] GenB31415 commented on #31
PS. Upon a time I converted C code from the book eecs.wsu.edu/~schneidj/ufdtd/chap10.pdf to C# (with GUIs and classes) and I assure that the code worked exactly as expected. Thanks

[2021-08-30 21:15] flaport commented on #31
Thanks for the pointer @GenB31415 , I love that book... most of this library is loosely based on it. I'm pretty sure I could implement it with the right amount of time, but that has been a big problem lately...

So like I said... it might happen at some point if I ever find the courage and time, but you'll have a better chance of having it fast with a PR ;-)

[2021-08-31 17:12] GenB31415 commented on #31
Hi @flaport. I understand your situation. Well, I would like only to briefly discuss the following approach (when you will have time). I (or anyone) will prepare a new structure: class GridDrude(fdtd.Grid): ... , which will have your fdtd.Grid as a base class. The idea is to get the access to the methods and fields of fdtd.Grid, but with the possibility to add (extend) new methods allowing to crea

[2021-09-09 16:19] GenB31415 opened #32 "Colorbar in grid.visualize"
Hi @flaport, is it possible to insert the colorbar to grid.visualize(...) figure? Thanks

[2021-09-10 04:10] pingpongballz commented on #32
I think this can be achieved by setting show =  False in grid.visualize, then declaring a colorbar in matplotlib. Then call plt.show()

[2021-09-10 14:40] flaport commented on #32
Indeed 🙂

[2021-09-10 14:40] #32 closed

[2021-09-12 00:59] GenB31415 commented on #31
Hi @flaport! I'd like to continue the discussion of FDTD for a case of material with a frequency-dependent dispersion.  I propose here the FDTD solution for a simple case of homogeneous medium with a dispersion based on the Drude model, see details in the book Taflove/Hagness, 9.2.3 (Ed.3). As an illustration, I attach FDTD code of Cherenkov radiation in 2D case (which admits a direct generalizati

[2021-09-12 01:18] GenB31415 commented on #31
PS. First graph shows the energy of field radiated by moving point source for the Drude medium with the plasma frequency indicated in the graph. The second plot shows the same but for disperiveless dielectric. One can see that the field structures in medium with the frequency (Drude) dispersion significantly differs from the dispersiveless  case.

[2021-09-12 14:00] GenB31415 commented on #31
PS-2.
1. In the above toy model to switch between the Drude case (graph-1) and the conventional (non-dispersive) case (graph-2), one needs to swap the comments in lines 197-198 in the Main.
2. The toy model generates the expected result - the Mach cone of the emitted field at fast source velocities in the non-dispersive case (Graph-2). In the case of a metallic medium (Drude's model), the field sh

[2021-09-13 08:38] flaport commented on #31
Hey @GenB31415 , this looks cool! I'll try to have a look at it this week!

[2021-09-21 19:27] GenB31415 opened #33 "Pulse"
Hey @flaport,
In the class LineSource I can't find the pulse variable which is referred in examples. How to reach this pulse? Thanks

[2021-10-03 04:25] aizvorski opened #34 "Units"
I'm wondering what the units used for each quantity are, both for parameters which are passed in and for values stored internally or produced by the calculation.

A lot of things seem to be unitless, but other things seem to have assumed units.  A quick list:

* grid.E - the docs say "E := √ε0*E" - does this mean that grid.E divided by sqrt(numeric value of epsilon0 expressed in farads/meter) (= g

[2021-10-03 09:37] flaport commented on #34
Hi @aizvorski ,

* Indeed, choosing `E_sim= √ε0*E` and `H_sim=√µ0*H` basically results in nicely symmetric [update equations](https://github.com/flaport/fdtd#update-equations).
* grid_spacing is indeed in meters
* time_step is indeed in seconds (derived from grid_spacing and courant_number)
* The conductivity σ should indeed be given by S/m = (A^2 s^3) / (kg m^3), however in the [chosen simulation

[2021-10-03 10:25] flaport commented on #33
Hi @GenB31415 , this was a recent addition, see #15. However I hadn't created a new release for the library yet... I have created a new PyPI release now.

[2021-10-03 17:47] GenB31415 opened #35 "Cylinders"
Hi @flaport,
I have to add a cylinder aligned || z in 3D.
There are various references in general how to create a cylinder.
https://stackoverflow.com/questions/26989131/add-cylinder-to-plot
https://stackoverflow.com/questions/64725784/color-of-the-cylinder-in-python

But what may be the optimal way to do that in fdtd?
[03-objects-of-arbitrary-shape]
Thank you in advance.

[2021-10-03 19:24] aizvorski commented on #34
Hi @flaport - Thanks, that's really helpful!

I'm still slightly confused by "simulation units" :)  There may be two different interpretations (which may be equivalent, maybe)

(a) the equations are changed to `curl(H_sim) = ε*(1/c)*dE_sim/dt` and `curl(E_sim) = -µ*(1/c)*dH_sim/dt`  where H_sim and E_sim are new physical quantities which both have the same dimensions of [mass]^1/2 [length]^-1/2 [t

[2021-10-03 20:52] aizvorski commented on #34
@flaport "instead of power we should just define a electric field amplitude" - I like this, it's intuitive.   It seems that the point/line sources convert power to amplitude and then just use amplitude internally, might as well specify amplitude as input.

Looking at the code, amplitude is distributed proportionally to inv(epsilon) along lines?  (and maybe planes?)  That may produce unexpected res

[2021-10-05 21:09] flaport commented on #34
Hi @aizvorski,

(a) is correct. Just be know that in simulation units `curl(H)` has the same unit as E and H. i.e. the curl does not divide by the grid spacing, in fact we have that `∇×H = curl(H)/du` (see [this](https://github.com/flaport/fdtd#update-equations), where I note that the factor `1/du` was left out). Adding this missing factor to your equation in (a) gives the following update equatio

[2021-10-05 21:24] flaport commented on #34
Ok, the power keyword issue was solved in 1c3b98dbc5a43bc5231db0d883760a81d4a1e3d9 (fdtd version 0.2.0).

From now on, you need to specify the field amplitude in simulation units.

[2021-10-06 07:14] pingpongballz opened #36 "Defining conductivity tensor raises error"
Hi,

First of all, Thank you for this amazing module!

The issue right now is by defining an absorbing object with a permittivity matrix, perm and a conductivity matrix, cond in a 2D simulation, the code raises an error:

`self.grid.E[loc] *= (1 - self.absorption_factor) / (1 + self.absorption_factor)`
`ValueError: non-broadcastable output operand with shape (64,64,1,3) doesn't match the broadcast

[2021-10-06 07:36] flaport commented on #36
Hi @pingpongballz ,

It seems like you're adding a 3D array (64, 64, 64, 3) to a 2D grid (64, 64, 1, 3).

It would be useful if you could share a minimal example that produces this problem, so I can check if it's a bug or something you're doing wrong ;-)

[2021-10-06 14:59] pingpongballz commented on #34
Hi,

From what I'm understanding by reading this, I'm assuming one can convert E from simulation units to V/m by simply dividing the simulation units by √ε0 and H_sim to A/m by dividing by √μ0?

Thanks!

[2021-10-09 03:02] aizvorski commented on #34
@flaport Thanks, very cool!  I'm going to try specifying a point dipole with known amplitude and see if the detected power vs distance in the far field matches the expected value.  Would you like to have an example like that in the standard examples?

[2021-10-09 03:36] aizvorski commented on #34
@flaport Thanks for explaining, good to know that these are new quantities with new units.

I see the formula but I admit I don't understand why that means the units are as described.  `(c*dt/du)` is dimensionless (=velocity*inverse velocity) so that doesn't really narrow down what the H_sim and E_sim units are, as long as they are the same.

Going from the `E_sim= √ε0*E` and `H_sim=√µ0*H` formula

[2021-10-09 04:10] aizvorski commented on #35
@GenB31415 I think you can modify the 03-objects-of-arbitrary-shape example into 3d to make the circle into a cylinder, like this:

[code]

That should give a z-axis aligned cylinder with diameter 100 and height 10.  There's nothing really special about a cylinder, it's just a stack of circles; the `None,None` adds two extra size-1 axes (one for z and one for anisotropic permittivity), and [numpy

[2021-10-09 15:25] flaport commented on #36
This was solved in fdtd version 0.2.1.

[2021-10-09 15:25] #36 closed

[2021-10-09 15:30] flaport commented on #31
Hi @GenB31415 , feel free to make a PR and add GridDrude to grid.py. Thanks :)

[2021-10-09 15:32] flaport commented on #35
Indeed. stacking circles is the recommended way.

[2021-10-09 15:32] #35 closed

[2021-10-09 15:32] #33 closed

[2021-10-09 15:34] flaport commented on #26
@CharlesDove , If you have the time, would you be willing to create a PR with your fix?

[2021-10-09 15:35] #25 closed

[2021-10-09 16:02] #24 closed

[2021-10-09 16:04] #3 closed

[2021-10-09 16:05] #8 closed

[2021-10-10 01:08] aizvorski commented on #34
@flaport Thank you for the excellent explanation - I hope this is useful to anyone who has the same questions in the future.  Indeed mostly resolved.

How do you feel about using a package like [quantities](https://github.com/python-quantities/python-quantities) to allow passing in values (eg amplitude, conductivity) and retrieving values (eg field strength from detectors) with proper units?  It c

[2021-10-10 19:42] GenB31415 commented on #35
Hi @aizvorski @flaport
Many thanks, this works. Is it possible by similar manner to create the the walled empty cylinder with the internal r1  and external r2 radiuses respectively? Thanks again.

[2021-10-10 20:10] flaport commented on #35
Ideally this would be done by creating two overlapping Objects, however overlapping objects is currently not really supported. Alternatively you can change the `grid.inverse_permittivity` array manually. First create the bigger cylinder directly into the grid.inverse_permittivity array, then create the smaller one.

[2021-10-11 02:30] GenB31415 commented on #35
Hi @flaport
I've followed your comments in the attached files. In addition, I expanded the task a little. I usually prefer to study a 3D system, so.
1. I have placed a cylinder with walls in the center.
2. To visualize the structure of the field by slices, I use the well-known standard approach, which allows us to move and view the slices of the field along the z-axis using the mouse wheel.
3. I a

[2021-10-12 15:43] pingpongballz opened #37 "Question regarding conductivity implementation in code"
Hi,

I was browsing through `objects.py` when I came upon this, lines 192-199,

[code]
which is `f = 0.5*sc*inv(ε)*σe*du/ε0`
In [https://github.com/flaport/fdtd#lossy-medium](url), the following is written:
[code]
by taking `dt = sc * du/c` I can expand `f = (0.5*sc*inv(ε)*σe*du)/(ε0*c)`

My question is, why wasn't 1/speed of light, `1/c` included in ` self.absorption_factor` ?  There must be some

[2021-10-12 21:42] z-y-n opened #38 "GDS loading on roadmap?"
Hi @flaport , impressive project! Just wondering if GDS loading is on the roadmap. Thanks a lot!

[2021-11-04 19:28] GenB31415 commented on #31
Hello to everybody. In this message I propose a way to apply a wrapping class technique to the system with the frequency (Drude) dispersion in the fdtd package. This approach avoids disturbing the internal structure of fdtd code that is desired in many situations. Attached is a working file that uses as a prototype one of fdtd example.

1. As expected in such a system, the control parameter is the

[2021-11-05 09:20] flaport commented on #31
Hi @GenB31415 ,

This looks pretty cool! I would be happy to include those additions into fdtd.

Can you fork the repository, make the necessary changes in your branch and then create a pull request please?

Thanks!

[2021-11-06 16:59] GenB31415 commented on #31
Hi @flaport, thanks, please tell us more.
In the meantime, I attach two figure that follow your other example. Figure Fig0_1cDrudeWp = 7.5e7.png shows the case when the upper object is a normal dielectric, and the lower object has the Drude frequency dispersion with Wp = 1.5e7. We observe that the field is significantly disturbed and is completely reflected from such an object. For comparison, the

[2021-11-18 06:52] Julius-Py opened #39 "Float128 not supported on Windows"
I recently installed this on Windows and I'm using Jupyter notebook, It seems to not support the float 128, any thoughts?

AttributeError: module 'numpy' has no attribute 'float128'

[2021-11-25 10:27] flaport commented on #39
Hi @Julius-Py ,

FDTD just uses numpy/pytorch dtypes. It depends on which platform you are on which dtypes are available. There is not much I can do to change this I'm afraid...

[2021-12-01 00:17] AaronParsons opened #41 "Value of eps0, mu0 in constants.py"
Line 17 of constants.py assigns eps0 = 4e-7 * pi, but isn't this the value of mu0? See https://en.wikipedia.org/wiki/Vacuum_permittivity

[2021-12-01 07:12] flaport commented on #41
Hi @AaronParsons ,

You are correct! I added constants.py two commits ago and I must have swapped them around when defining the file. Pretty emberassing... Luckily I had not made a new release yet.

Anyway. Closing now as the issue has been resolved. Thanks a lot for finding this!

[2021-12-01 07:12] #41 closed

[2021-12-01 08:57] flaport commented on #37
Hi @pingpongballz ,

My apologies for my very late answer. I wanted to re-derive the equations and then forgot about this issue. It seems you are indeed correct! There is a 1/c value missing. I have updated the code and the README.

[2021-12-01 08:57] #37 closed

[2021-12-03 02:56] flaport commented on #31
Hey @GenB31415 . I love your additions to the fdtd simulator and I would like to add them. Could you please fork the repository, make the changes that you want to see in this library and make a pull request?

You can find more information on how to do this here:
 https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-p

[2021-12-16 08:18] pingpongballz commented on #39
Hi @flaport,

I think what @Julius-Py meant was that having numpy.float128 as a dtype in backend.py in windows just causes the fdtd module to fail to initialize, and subsequently returning an error:
 ``AttributeError: module 'numpy' has no attribute 'float128'``

@Julius-Py, I did a quickfix by just removing any references to numpy.float128 in backend.py and it seemed to do the trick

[2021-12-16 14:34] flaport commented on #39
That's indeed a fair point. I've pushed a fix and this issue will be solved in fdtd>=0.2.4

[2021-12-16 14:34] #39 closed

[2021-12-30 02:49] PAKFA opened #42 "Regarding the detected value"
Dear Floris Laporte,

Thank you very much for the nice tool!

Recently, I am learning the package for simulation. I noticed that there is a 'detector_value()' function in the class 'detector', however there is not an example for the demonstration usage of it, could you please add an example on this function?

[2021-12-30 03:39] #42 closed

[2022-01-03 19:06] GenB31415 opened #43 "Field in position of source"
Hi @flaport, Happy New Year! At FDTD calculations I need to periodically change the power of a source  (initially F_0) dependently on the local field amplitude E_0. So first I have to know the amplitude of field E_0 in current position of a source in 3D. Latter I will modify the power of this  source periodically as F_{n+1} = f(E_n)*F_n with the interval dt. As I understand, to do that I have to p

[2022-01-05 18:22] flaport commented on #43
hey @GenB31415 ,

It's probably best to write a custom source for this. The grid to which the source is attached is available as `self.grid`, and hence you have access to the field values at the current time step.

To write a custom source you just have to an update_E and an update_H method (look for example at sources.py).

For example, you could do something like this:

[code]

[2022-01-24 06:49] bellzero5 opened #44 "Can I simulate birefringent material (eg. liquid crystal) with this simulation?"
Hi! Thank you for this wonderful project.
Can I simulate birefringent material (eg. liquid crystal) with this simulation?
Thank you.

[2022-01-24 17:56] flaport commented on #44
yes you can.

unixial or biaxial materials can easily be modeled by setting `grid.inverse_permittivity` directly.

If you need off-axis elements in your permittivity, you'll need to create a custom `Object`. You can have a look at how `AnisotropicObject` is implemented and do something similar (or subclass it).

Good luck 🙂

[2022-01-24 17:57] #44 closed

[2022-02-21 11:33] gomezzz commented on #13
Just stumbled on this, you can have both fairly easily with https://github.com/jcmgray/autoray :)

Also allows for a numpy-like API , see e.g. here https://github.com/FHof/torchquad/blob/develop/torchquad/integration/trapezoid.py

[2022-02-21 14:06] flaport commented on #13
Thanks @gomezzz ,

This looks pretty cool indeed! I'll look into it 🙂

[2022-04-17 13:52] ni-chen opened #45 "is the pytorch backend differentiable?"
Hi,

Thanks for making this amazing package, this could be useful.
May I ask if the PyTorch backend is differentiable?

Thanks.

[2022-04-18 15:31] QizhouW opened #46 "Unit correction"
I found this issue in the doc.
'A grid_spacing can be given. For stability reasons, it is recommended to choose a grid spacing that is at least 10 times smaller than the smallest wavelength in the grid. This means that for a grid containing a source with wavelength 1550nm and a material with refractive index of 3.1, the recommended minimum grid_spacing turns out to be 50pm'

This 50 pm seems to be

[2022-04-18 18:46] flaport commented on #46
Thanks for catching that one @QizhouW. It should now be fixed.

[2022-04-18 18:46] #46 closed

[2022-04-18 18:50] flaport commented on #45
Hey @ni-chen ,

this has been on my todo list for too long, currently there are a few in-place operations preventing this... However, I don't think it should be too difficult to change, I expect the simulator to work slower, however...

Maybe when I find the time I might finally give it a shot soon. This would obviously be an awesome feature to have.

[2022-04-19 07:50] ni-chen commented on #45
Thanks for your reply.
I believe it would be of great interest for many applications. @flaport

[2022-04-29 06:06] jjdredd opened #47 "parallel computation"
Hello,
Thanks for your work.
Is there a way to run this code in parallel on cpu?
I assume that it's automatically parallelized if the cuda backend is used.
Is this correct?

[2022-04-29 19:20] jjdredd commented on #47
Thanks. I'll take a look. didn't know about dask.

[2022-05-28 13:41] hajanssen opened #48 "Error using Cuda"
Hello,

I had an issue using the `"torch.cuda"` backend. Adding an Object yields the following Error.
[code]
This happened on my local machine and on Google Colab.
As I have understood, the error happens, because `self.permittivity`  in `objects.py` is not copied to the GPU.
For me, this can be mitigated with `self.permittivity = bd.array(self.permittivity)` in a previous line.

Greetings,
Hauke

[2022-05-29 05:03] flaport commented on #48
Thanks Hauke. This should be now fixed in fdtd>=0.2.5.

Next time when you already know the answer to the problem, feel free to open a PR right away 😉

[2022-05-29 05:03] #48 closed

[2022-06-09 19:07] brandstetter-johannes opened #49 "Polarization of plane source"
Hi,
let me first say this repo is quite unique and phantastic!

My question: when using plane sources it seems that something is weird with the polarization, I got an error: TypeError: __init__() got an unexpected keyword argument 'polarization'.
Should be in the init function https://github.com/flaport/fdtd/blob/master/fdtd/sources.py#L326

For example, this code snippet throws the error:
grid[0,

[2022-06-15 16:05] brandstetter-johannes commented on #49
Hi @flaport
thank you very much!
The error is now resolved.

Johannes

[2022-06-15 16:05] #49 closed

[2022-06-16 16:27] 694856790 opened #50 "How should I implement pattern lighting?"
Dear author, this framework is very convenient, but I need to solve the S parameter of some devices in use, but there is no Mode Source at present. Can you give me some help?Thank you!!!

[2022-06-16 19:39] flaport commented on #50
Hi @694856790 , Mode sources are unfortunately not yet supported. This would be a great PR 😉

[2022-06-19 00:17] 0xCoto opened #51 "Is fdtd suitable for antenna design?"
Hi there, would you say this package is suitable for antenna design, or is it more tailored towards other electromagnetic applications?

[2022-06-19 00:52] flaport commented on #51
Hi @0xCoto , I don't think fdtd is the right tool for antenna design :)

[2022-06-19 01:04] #51 closed

[2022-07-01 07:57] 694856790 opened #52 "How do I define a custom electromagnetic field profile as source, like the Import Source in the Lumerical FDTD?"
In sources.py file, I tried to change the profile to a custom electric field distribution as you defined PlaneSource, but the polarization direction seems to have an impact on the results? Please advise if I am doing this correctly, thank you!

[2022-07-05 14:03] #52 closed

[2022-07-05 14:03] #50 closed

[2022-07-05 14:10] JenkinLim opened #53 "Hello! How to obtain the phase of electromagnetic field?"
Hello, I found that the calculation results in this project are the amplitude of electromagnetic field, and there is no complex electric field value. What should I do if I want to get the phase value at a certain monitor?  thanks!!

[2022-07-11 01:40] flaport commented on #31
Hi @jviquerat , Drude materials are a bit out of my comfort zone... I think you can probably use the example zip file attached above as a starting point. Feel free to open a PR if you get it working 🙂

[2022-07-14 07:23] kerstin921 opened #54 "ffmpeg not installed?"
None of your example files will generate a video on Windows.

The error `ffmpeg not installed?` is thrown despite [`ffmpeg-python`](https://pypi.org/project/ffmpeg-python/) being installed.

I looked up the relevant function `generate_video()` in your [source code](https://github.com/flaport/fdtd/blob/master/fdtd/grid.py) and it says `Note: this function requires ``ffmpeg`` to be available in your

[2022-07-15 03:43] flaport commented on #54
If you want to use ffmpeg to export a video, you need the `ffmpeg` executable (**not** the python library) in your path. You can download ffmpeg [here](https://ffmpeg.org/).

[2022-07-15 15:36] kerstin921 commented on #54
Thanks, but it still doesn't work. I put `ffmpeg.exe` into the same folder as the Jupyter Notebook file with your example scripts, but I still get `ffmpeg not installed?`. Could it maybe be that your scripts change the `cwd`?

[2022-07-15 15:39] kerstin921 commented on #54
...indeed: For instance, your GRIN example script changes `cwd` to the subfolder `\\fdtd_output\\fdtd_output_2022-7-15-17-22-58 (GRIN)\\fdtd_output\\fdtd_output_2022-7-15-17-28-17 (GRIN)'. How to remediate?

[2022-07-15 15:58] kerstin921 commented on #54
Yip, just checked. Adding `os.chdir()` in front of your animation code block and setting `cwd` to the notebook path breaks your `grid.generate_video()`

[2022-07-16 07:19] kerstin921 commented on #54
**HELLO???**

[2022-07-16 20:03] flaport commented on #54
Hi @kerstin921 , This is an open source project. We're all developing this in our free time. I am sorry for not replying within 24 hours. It seems you found a bug in the video exporting feature, and from what I can tell you're already half way there in understanding the problem and fixing it... So if it's not too much to ask, please fix it, create a PR and it will get accepted. This is how open so

[2022-07-22 09:25] kerstin921 commented on #54
Hi flaport,

thanks for this information. I was under the impression that this basically is Python's main FDTD package, which is why I was so confused about the existence of such bugs. What is a PR and how does it solve the issue?

[2022-07-23 16:50] kerstin921 commented on #54
Yeah...no.

[code]

This package is nowhere near production-ready and already breaks at the very first steps - so I'm out. Not worth the trouble and time investment only to find more bugs along the road.

[`gprmax`](https://www.gprmax.com/) is the way to go.

[2022-07-23 21:17] flaport commented on #54
Thanks for the hint @kerstin921 , gprmax seems indeed pretty cool!

[2022-07-24 10:09] kerstin921 commented on #54
It is, they used `gprmax` to design the **g**round-**p**enetrating **r**adar of the Perseverance Mars mission

[2022-07-24 14:50] kerstin921 commented on #54
@flaport Just to illustrate how bad the problem is, consider this baby example (even much simpler than your examples):

[code]

The output:

[code]

This is the problem with Python. People are putting hundreds of non-functional packages into the official [PyPI](https://pypi.org/), tricking users to waste endless hours into experimenting with packages that don't even pass the simplest test cases an

[2022-07-24 15:27] GenB31415 commented on #43
Hi @flaport, please specify the formula of spatial shape of the fdtd.LineSource. In the docs it is only indicated “""Create a LineSource with a gaussian profile. Does it mean \exp(-(x-x0)^2-(y-y0)^2-(z-z0)^2) ? Is it possible to indicate a width of a gaussian? Thanks

[2022-07-24 15:42] GenB31415 commented on #43
May be it is better to replace the word LineSource by PlaneSource in the description of PlaneSource ?
## PlaneSource class
class PlaneSource:
    """A source along a plane in the FDTD grid"""

    def __init__(...)
        """Create a **_LineSource_** with a gaussian profile

[2022-07-24 15:44] kerstin921 opened #55 "`RuntimeError: Expected all tensors to be on the same device, but found at least two devices, cuda:0 and cpu!`"
I've tried a minimal example:

[code]

But I'm getting this runtime error:

[code]

[2022-07-24 15:45] kerstin921 commented on #55
By the way, is it allowed to have objects protruding into the PML region or is this something that should be avoided?

[2022-07-25 06:55] flaport commented on #54
Hi @kerstin921 ,

I am sorry you had a bad experience with this package. Of course having non-functional code in the library must be very frustrating for you.

I know the library has not been actively maintained recently and I have probably been accepting pull requests too easily in the past, which made parts of the code unstable (see for example #15, which introduced the video generation function

[2022-07-25 12:04] kerstin921 commented on #54
It's not 100% lost time (maybe 80% or so) as I'm still familiarizing and learning a few things while trying to get your package working. The problem is that the very basic examples seem not to be working. Usually, such problems should be quickly resolved because else you're dealing with a "cool", but non-functioning code published on the internet (and some of the files contain almost no documentat

[2022-07-25 12:09] kerstin921 commented on #54
But maybe that's just me as I use to write code as if meant for kindergardeners (i.e. every little piece is documented), so I can basically just give it to a collegue and there will hardly ever come back questions

[2022-07-26 19:20] flaport commented on #55
I am sorry @kerstin921 , I ran your code snippet with different versions of pytorch and for all the different backends but I can't seem to reproduce this error.

To give you some context. It seems in your case that one of the following four tensors is placed on the cpu while the rest is on the gpu (or vice versa):

* self.grid.courant_number
* self.inverse_permittivity
* self.conductivity
* self.g

[2022-07-26 23:06] kerstin921 commented on #55
Thanks, this is my `pip list` output:

[code]

[2022-07-26 23:08] kerstin921 commented on #55
The only permittivity value I modified is inside a

`grid[a:b, c:d, e:f] = fdtd.Object(permittivity=100, name='something')`

[2022-08-16 08:38] estebvac commented on #11
Hi flaport,
In that sense, wasn't it better if the method `_register_grid` in `object.py` set the permittivity of the object directly in the grid. Repeating calculations can be critical when the simulation size is bigger.

[2022-08-21 02:14] flaport commented on #11
That's a fair point and in fact nothing is stopping you to do exactly that... Just do an in-place index replacement within inverse_epsilon...

The reason that I chose the Object route is that back in the day I was working on simulating photo-refractive crystals in which I was also modeling the electro-optic effect. Moreover those objects required non-diagonal epsilon elements which is a much more

[2022-09-01 15:03] IceCream613 commented on #55
Very cool project! I look forward to seeing where it goes.

 I have the same error, when I use 'fdtd.AbsorbingObject'. Maybe there is something wrong with this function?

[2022-11-21 11:56] kwadwo00 opened #56 "Loading Spatial Distributions"
When loading an array into the "permittivity" parameter, I get the following error:

TypeError: only size-1 arrays can be converted to Python scalars

from "...\fdtd\grid.py" line 159

I believe this is because it's trying to apply "float()" to a numpy array. Changing this to "bd.float()" appears to fix it for numpy, but I don't know if it is compatible with the others.

Just putting it on your ra

[2022-11-21 14:10] kdotom opened #57 "Polarization for Linear Source"
Is there a simple way to change the polarization of a linear source?

Thanks!

[2022-11-21 14:54] flaport commented on #56
Thanks for catching that! Fixed in version 0.2.6.

[2022-11-21 14:54] #56 closed